.dialogs {
   display: grid;
   grid-template-columns: 3fr 10fr;
}

.dialogsItems {
   padding: 10px;
}

.dialog {

}

.dialogsItems .active {
   color: gold;
}

.messages {
   padding: 10px;
}

.message {
}

.postsList {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-bottom: 15px;
}

.ava {
   width: 60px;
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: 0 0 3px 1px;
}